{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Alunos</title>
</head>

<body>
    <div class="container">
        <h2>Lista de Alunos</h2>
        <a href="{% url 'home' %}" id="link_inicio">Inicio</a>
        <a href="{% url 'cadastrar_aluno' %}" id="link_cadastro">Cadastrar aluno</a>
        <table class="area_alunos">
            <thead>
                <tr>
                    <th><label for="nome">Nome</label></th>
                    <th><label for="idade">Idade</label></th>
                    <th><label for="turma">Turma</label></th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <th><a href="{% url 'editar_aluno' aluno.id %}">{{ aluno.nome }}</a></th>
                    <td>
                        <label>{{ aluno.idade }}</label>
                    </td>
                    <td>
                        <label>{{ aluno.turma }}</label>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <ul>
                <li><label>Idade: {{ aluno.idade }}</label> </li>
                <li><label>Turma: {{ aluno.turma }}</label> </li>
            </ul>
            <hr> -->
            

        </table>
    </div>
</body>

</html>